<div class="row">
    <div class="col-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Sr No</th>
                    <th>Role Name</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let roleItem of roleList; let srno = index;">
                    <td>{{srno+1}}</td>
                    <td>{{roleItem.role}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>